@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
  background-size: 16px 16px;
  font-family: 'Inter', sans-serif;
}
